<p>
  <a href="/">Resources</a>
  Applications
  <a href="/users/sign_out">Sign Out</a>
</p>
<h1>Applications</h1>
<%= form_for @application, url: '/oauth_applications' do |f| %>
  <% if @application.errors.any? %>
    <ul>
      <% @application.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="mb-3">
    <%= f.label :name, class: "form-label" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :redirect_uri, class: "form-label" %>
    <%= f.text_field :redirect_uri, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :scopes, class: "form-label" %>
    <%= f.text_field :scopes, class: "form-control" %>
  </div>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
<% @oauth_applications.each do |oauth_application| %>
  <p>
    <%= oauth_application.name %>
    <%= oauth_application.redirect_uri %></br>
    uid: <%= oauth_application.uid %></br>
    secret: <%= oauth_application.secret %>
  </p>
<% end %>
