<p>
  <a href="/">Dashboard</a>
  <a href="/resources">Resources</a>
  Applications
  <a href="/users/sign_out">Sign Out</a>
</p>
<h1>Applications</h1>
<%= form_for @application, url: '/oauth_applications' do |f| %>
  <% if @application.errors.any? %>
    <ul>
      <% @application.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="form-group">
    <%= f.label :redirect_uri %>
    <%= f.text_field :redirect_uri %>
  </div>
  <div class="form-group">
    <%= f.label :scopes %>
    <%= f.text_field :scopes %>
  </div>
  <%= f.submit %>
<% end %>
<% @oauth_applications.each do |oauth_application| %>
  <p>
    <%= oauth_application.name %>
    <%= oauth_application.redirect_uri %></br>
    uid: <%= oauth_application.uid %></br>
    secret: <%= oauth_application.secret %>
  </p>
<% end %>
